// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* Set variables for all modes */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

/* Light mode variables */
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    
    --ion-color-primary: #4c8dff;
    --ion-color-primary-rgb: 76, 141, 255;
    --ion-color-primary-shade: #4379e0;
    --ion-color-primary-tint: #5e99ff;
  }
}
