<ion-header [translucent]="true">
  <ion-toolbar color="#95d5d2">
    <ion-title class="ion-text-center">
      <img src="assets/logo/mimo-logo.png" alt="Logo" style="height: 70px; vertical-align: middle; margin-right: 10px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="tab-home"></app-explore-container>
</ion-content>
